    /*
    Flaticon icon font: Flaticon
    Creation date: 08/02/2017 22:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-agenda:before { content: "\f100"; }
.flaticon-athlete-female:before { content: "\f101"; }
.flaticon-athlete-female-line:before { content: "\f102"; }
.flaticon-athlete-male:before { content: "\f103"; }
.flaticon-athlete-male-line:before { content: "\f104"; }
.flaticon-clerk:before { content: "\f105"; }
.flaticon-coach:before { content: "\f106"; }
.flaticon-days:before { content: "\f107"; }
.flaticon-discus:before { content: "\f108"; }
.flaticon-dive:before { content: "\f109"; }
.flaticon-dive-trick:before { content: "\f10a"; }
.flaticon-fan1:before { content: "\f10b"; }
.flaticon-fan2:before { content: "\f10c"; }
.flaticon-finish-line:before { content: "\f10d"; }
.flaticon-flag:before { content: "\f10e"; }
.flaticon-hammer:before { content: "\f10f"; }
.flaticon-hammer-throw:before { content: "\f110"; }
.flaticon-hammer2:before { content: "\f111"; }
.flaticon-high-jump:before { content: "\f112"; }
.flaticon-highjump:before { content: "\f113"; }
.flaticon-hurdle:before { content: "\f114"; }
.flaticon-javelin:before { content: "\f115"; }
.flaticon-long-jump2:before { content: "\f116"; }
.flaticon-longjump-foul:before { content: "\f117"; }
.flaticon-man-sprinting:before { content: "\f118"; }
.flaticon-man1:before { content: "\f119"; }
.flaticon-man2:before { content: "\f11a"; }
.flaticon-man3:before { content: "\f11b"; }
.flaticon-marathon-crowd:before { content: "\f11c"; }
.flaticon-medal-blank:before { content: "\f11d"; }
.flaticon-medal-first:before { content: "\f11e"; }
.flaticon-medal-second:before { content: "\f11f"; }
.flaticon-medal-third:before { content: "\f120"; }
.flaticon-megaphone:before { content: "\f121"; }
.flaticon-people:before { content: "\f122"; }
.flaticon-playoff-chart:before { content: "\f123"; }
.flaticon-podium:before { content: "\f124"; }
.flaticon-podium-group:before { content: "\f125"; }
.flaticon-pole-vault:before { content: "\f126"; }
.flaticon-pole-vault2:before { content: "\f127"; }
.flaticon-red-card-cross-hand:before { content: "\f128"; }
.flaticon-referee-card1:before { content: "\f129"; }
.flaticon-referee-card2:before { content: "\f12a"; }
.flaticon-referee-shirt2:before { content: "\f12b"; }
.flaticon-relay:before { content: "\f12c"; }
.flaticon-run-finish-tape:before { content: "\f12d"; }
.flaticon-run-lanes:before { content: "\f12e"; }
.flaticon-run-right:before { content: "\f12f"; }
.flaticon-runner:before { content: "\f130"; }
.flaticon-scoreboard:before { content: "\f131"; }
.flaticon-scoreboard-1:before { content: "\f132"; }
.flaticon-shotput:before { content: "\f133"; }
.flaticon-singlet:before { content: "\f134"; }
.flaticon-speaker:before { content: "\f135"; }
.flaticon-sprint:before { content: "\f136"; }
.flaticon-sprint-finish:before { content: "\f137"; }
.flaticon-sprinter:before { content: "\f138"; }
.flaticon-start-lanes:before { content: "\f139"; }
.flaticon-start-pistol:before { content: "\f13a"; }
.flaticon-start-sprint:before { content: "\f13b"; }
.flaticon-stopwatch:before { content: "\f13c"; }
.flaticon-stopwatch2:before { content: "\f13d"; }
.flaticon-stopwatch2-1:before { content: "\f13e"; }
.flaticon-swim:before { content: "\f13f"; }
.flaticon-swim-blocks:before { content: "\f140"; }
.flaticon-swim-jump:before { content: "\f141"; }
.flaticon-swim-race:before { content: "\f142"; }
.flaticon-swim-ref:before { content: "\f143"; }
.flaticon-tall-pole-vault:before { content: "\f144"; }
.flaticon-team:before { content: "\f145"; }
.flaticon-team-success:before { content: "\f146"; }
.flaticon-time:before { content: "\f147"; }
.flaticon-track:before { content: "\f148"; }
.flaticon-track-lanes:before { content: "\f149"; }
.flaticon-track-line:before { content: "\f14a"; }
.flaticon-uniform-female:before { content: "\f14b"; }
.flaticon-uniform-male:before { content: "\f14c"; }
.flaticon-uniforms-female:before { content: "\f14d"; }
.flaticon-uniforms-female-1:before { content: "\f14e"; }
.flaticon-whistle:before { content: "\f14f"; }
.flaticon-winner-flag-medal:before { content: "\f150"; }
.flaticon-yellow-and-red-cards:before { content: "\f151"; }
.flaticon-yellow-card-cross-hand:before { content: "\f152"; }
.flaticon-yellow-card-warning:before { content: "\f153"; }
    
    $font-Flaticon-agenda: "\f100";
    $font-Flaticon-athlete-female: "\f101";
    $font-Flaticon-athlete-female-line: "\f102";
    $font-Flaticon-athlete-male: "\f103";
    $font-Flaticon-athlete-male-line: "\f104";
    $font-Flaticon-clerk: "\f105";
    $font-Flaticon-coach: "\f106";
    $font-Flaticon-days: "\f107";
    $font-Flaticon-discus: "\f108";
    $font-Flaticon-dive: "\f109";
    $font-Flaticon-dive-trick: "\f10a";
    $font-Flaticon-fan1: "\f10b";
    $font-Flaticon-fan2: "\f10c";
    $font-Flaticon-finish-line: "\f10d";
    $font-Flaticon-flag: "\f10e";
    $font-Flaticon-hammer: "\f10f";
    $font-Flaticon-hammer-throw: "\f110";
    $font-Flaticon-hammer2: "\f111";
    $font-Flaticon-high-jump: "\f112";
    $font-Flaticon-highjump: "\f113";
    $font-Flaticon-hurdle: "\f114";
    $font-Flaticon-javelin: "\f115";
    $font-Flaticon-long-jump2: "\f116";
    $font-Flaticon-longjump-foul: "\f117";
    $font-Flaticon-man-sprinting: "\f118";
    $font-Flaticon-man1: "\f119";
    $font-Flaticon-man2: "\f11a";
    $font-Flaticon-man3: "\f11b";
    $font-Flaticon-marathon-crowd: "\f11c";
    $font-Flaticon-medal-blank: "\f11d";
    $font-Flaticon-medal-first: "\f11e";
    $font-Flaticon-medal-second: "\f11f";
    $font-Flaticon-medal-third: "\f120";
    $font-Flaticon-megaphone: "\f121";
    $font-Flaticon-people: "\f122";
    $font-Flaticon-playoff-chart: "\f123";
    $font-Flaticon-podium: "\f124";
    $font-Flaticon-podium-group: "\f125";
    $font-Flaticon-pole-vault: "\f126";
    $font-Flaticon-pole-vault2: "\f127";
    $font-Flaticon-red-card-cross-hand: "\f128";
    $font-Flaticon-referee-card1: "\f129";
    $font-Flaticon-referee-card2: "\f12a";
    $font-Flaticon-referee-shirt2: "\f12b";
    $font-Flaticon-relay: "\f12c";
    $font-Flaticon-run-finish-tape: "\f12d";
    $font-Flaticon-run-lanes: "\f12e";
    $font-Flaticon-run-right: "\f12f";
    $font-Flaticon-runner: "\f130";
    $font-Flaticon-scoreboard: "\f131";
    $font-Flaticon-scoreboard-1: "\f132";
    $font-Flaticon-shotput: "\f133";
    $font-Flaticon-singlet: "\f134";
    $font-Flaticon-speaker: "\f135";
    $font-Flaticon-sprint: "\f136";
    $font-Flaticon-sprint-finish: "\f137";
    $font-Flaticon-sprinter: "\f138";
    $font-Flaticon-start-lanes: "\f139";
    $font-Flaticon-start-pistol: "\f13a";
    $font-Flaticon-start-sprint: "\f13b";
    $font-Flaticon-stopwatch: "\f13c";
    $font-Flaticon-stopwatch2: "\f13d";
    $font-Flaticon-stopwatch2-1: "\f13e";
    $font-Flaticon-swim: "\f13f";
    $font-Flaticon-swim-blocks: "\f140";
    $font-Flaticon-swim-jump: "\f141";
    $font-Flaticon-swim-race: "\f142";
    $font-Flaticon-swim-ref: "\f143";
    $font-Flaticon-tall-pole-vault: "\f144";
    $font-Flaticon-team: "\f145";
    $font-Flaticon-team-success: "\f146";
    $font-Flaticon-time: "\f147";
    $font-Flaticon-track: "\f148";
    $font-Flaticon-track-lanes: "\f149";
    $font-Flaticon-track-line: "\f14a";
    $font-Flaticon-uniform-female: "\f14b";
    $font-Flaticon-uniform-male: "\f14c";
    $font-Flaticon-uniforms-female: "\f14d";
    $font-Flaticon-uniforms-female-1: "\f14e";
    $font-Flaticon-whistle: "\f14f";
    $font-Flaticon-winner-flag-medal: "\f150";
    $font-Flaticon-yellow-and-red-cards: "\f151";
    $font-Flaticon-yellow-card-cross-hand: "\f152";
    $font-Flaticon-yellow-card-warning: "\f153";